<div>
  <h2 id="page-heading" data-cy="ObservationAssessmentHeading">
    <span acdeTranslate="acdeApp.observationAssessment.home.title">Observation Assessments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span acdeTranslate="acdeApp.observationAssessment.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-observation-assessment"
        [routerLink]="['/observation-assessment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span acdeTranslate="acdeApp.observationAssessment.home.createLabel"> Crear nuevo Observation Assessment </span>
      </button>
    </div>
  </h2>

  <acde-alert-error></acde-alert-error>

  <acde-alert></acde-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="observationAssessments?.length === 0">
    <span acdeTranslate="acdeApp.observationAssessment.home.notFound">Ningún Observation Assessments encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="observationAssessments && observationAssessments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr acdeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" acdeSortBy="id">
            <div class="d-flex">
              <span acdeTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" acdeSortBy="observationGeneral">
            <div class="d-flex">
              <span acdeTranslate="acdeApp.observationAssessment.observationGeneral">Observation General</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" acdeSortBy="appropriationEvaluation">
            <div class="d-flex">
              <span acdeTranslate="acdeApp.observationAssessment.appropriationEvaluation">Appropriation Evaluation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" acdeSortBy="observationtraining">
            <div class="d-flex">
              <span acdeTranslate="acdeApp.observationAssessment.observationtraining">Observationtraining</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" acdeSortBy="assessment.id">
            <div class="d-flex">
              <span acdeTranslate="acdeApp.observationAssessment.assessment">Assessment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let observationAssessment of observationAssessments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/observation-assessment', observationAssessment.id, 'view']">{{ observationAssessment.id }}</a>
          </td>
          <td>{{ observationAssessment.observationGeneral }}</td>
          <td>{{ observationAssessment.appropriationEvaluation }}</td>
          <td>{{ observationAssessment.observationtraining }}</td>
          <td>
            <div *ngIf="observationAssessment.assessment">
              <a [routerLink]="['/assessment', observationAssessment.assessment.id, 'view']">{{ observationAssessment.assessment.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/observation-assessment', observationAssessment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" acdeTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/observation-assessment', observationAssessment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" acdeTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(observationAssessment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" acdeTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="observationAssessments && observationAssessments.length > 0">
    <div class="d-flex justify-content-center">
      <acde-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></acde-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
