<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="acde-employee-heading" data-cy="EmployeeCreateUpdateHeading" acdeTranslate="acdeApp.employee.home.createOrEditLabel">
        Crear o editar Employee
      </h2>

      <div>
        <acde-alert-error></acde-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" acdeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'acdeApp.State.null' | translate }}</option>
            <option *ngFor="let state of stateValues" [value]="state">{{ 'acdeApp.State.' + state | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('status')?.errors?.required"
              acdeTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.charge" for="field_charge">Charge</label>
          <input type="text" class="form-control" name="charge" id="field_charge" data-cy="charge" formControlName="charge" />
          <div *ngIf="editForm.get('charge')!.invalid && (editForm.get('charge')!.dirty || editForm.get('charge')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('charge')?.errors?.required"
              acdeTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('charge')?.errors?.maxlength"
              acdeTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              Este campo no puede superar más de 40 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" acdeTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.maxlength"
              acdeTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Este campo no puede superar más de 50 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
          <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phoneNumber')?.errors?.required"
              acdeTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phoneNumber')?.errors?.maxlength"
              acdeTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Este campo no puede superar más de 50 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" acdeTranslate="acdeApp.employee.training" for="field_training">Training</label>
          <select
            class="form-control"
            id="field_training"
            data-cy="training"
            name="training"
            formControlName="training"
            [compareWith]="compareTraining"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="trainingOption" *ngFor="let trainingOption of trainingsSharedCollection">{{ trainingOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span acdeTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span acdeTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
