<form *ngIf="training" name="deleteForm" (ngSubmit)="confirmDelete(training.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="trainingDeleteDialogHeading" acdeTranslate="entity.delete.title">Confirmar operación de borrado</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <acde-alert-error></acde-alert-error>
    <p id="acde-delete-training-heading" acdeTranslate="acdeApp.training.delete.question" [translateValues]="{ id: training.id }">
      ¿Seguro que quiere eliminar Training {{ training.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span acdeTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="acde-confirm-delete-training" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span acdeTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
